@font-face {
    font-family: 'Gothic';
    src: url('./fonts/SpecialGothicExpandedOne-Regular.ttf');
}

* {
  font-family: 'Gothic', Arial, sans-serif;
}

body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;

  color: #fff;
  background: linear-gradient(to right, #e6dada, #274046);
}